<div class="form-group label-floating <%= 'is-empty' if user[:password].blank? %>">
  <%= f.label :password, class: 'control-label required' %>
  <%= f.password_field :password, class: 'form-control', required: true %>
  <p class="help-block" id="password-help"><%= t('hint.passwords', length: ENV.fetch("DEVISE_PASSWORD_LENGTH", 8)) %></p>
</div>

<div class="form-group label-floating <%= 'is-empty' if user[:password_confirmation].blank? %>">
  <%= f.label :password_confirmation, class: 'control-label required' %>
  <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
</div>

<script>
  $(function () {
    $('#user_password').on('keyup blur change', function (e) {
      var $this = $(this),
          current_value = $this.val(),
          password_regexp = /<%= User::PASSWORD_REGEXP %>/,
          password_length_min = <%= ENV.fetch("DEVISE_PASSWORD_LENGTH", 8) %>,
          $parent = $this.closest('.form-group');

      if(password_regexp.test(current_value) && current_value.length >= password_length_min) {
        $parent.removeClass('has-error');
      } else {
        $parent.addClass('has-error');
      }

      if(current_value === "") {
        $parent.addClass('is-empty');
      } else {
        $parent.removeClass('is-empty');
      }

      return false;
    });
  });
</script>

